{
  "arrowParens": "always",
  "bracketSpacing": false,
  "endOfLine": "lf",
  "printWidth": 100,
  "useTabs": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true
}
