.Example {
  position: relative;
  height: 200vh;
  padding: 16px;
}

.Example--box {
  display: flex;
  height: 100px;
  width: 100px;
  transition: color 0.2s, background-color 0.2s;
}

.Example--text {
  margin: auto;
}

.Example--box__overflow {
  overflow: hidden;
}

.Example--content {
  color: white;
}

.Example--tooltip {
  position: absolute;
}

.Example--tooltip__left {
  left: 16px;
  top: calc(50vh - 50px);
}

.Example--box__left {
  background-color: lightskyblue;
}

.Example--box__left:hover {
  background-color: skyblue;
  color: white;
}

.Example--tooltip__top {
  top: 16px;
  left: calc(50vw - 50px);
}

.Example--box__top {
  background-color: lightcoral;
}

.Example--box__top:hover {
  background-color: coral;
  color: white;
}

.Example--tooltip__right {
  right: 16px;
  top: calc(50vh - 50px);
}

.Example--box__right {
  background-color: lightblue;
}

.Example--box__right:hover {
  background-color: blue;
  color: white;
}

.Example--tooltip__bottom {
  top: calc(100vh - 100px - 16px);
  left: calc(50vw - 50px);
}

.Example--box__bottom {
  background-color: lightpink;
}

.Example--box__bottom:hover {
  background-color: pink;
  color: white;
}

.Example--tooltip__center {
  top: calc(50vh - 50px);
  left: calc(50vw - 50px);
}

.Example--box__center {
  background-color: lightgreen;
}

.Example--box__center:hover {
  background-color: green;
  color: white;
}
